swagger: "2.0"
info:
  description: "Lists all known DBI backends"
  version: "0.0.1"
  title: "DBI backends"
paths:
  /all:
    get:
      summary: ' All backends'
      responses:
        '200':
          description: OK
        default:
          description: Default response.
      parameters: []
  /by-package:
    get:
      summary: ' Request backend by R package name'
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
        '400':
          description: Package name missing (required).
        '500':
          description: Package name not found.
      default:
        description: Default response.
      security:
      - api_key: []
      parameters:
      - name: name
        description: Package name
        in: query
        required: yes
        type: "array"
        items:
          type: "string"
          default: "RPostgres"
        collectionFormat: "multi"
